<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Informe de Stock</title>
    <style>
        body{
            background-color: rgb(127, 133, 140);
            margin: 0;
            background-image: url("https://img.freepik.com/fotos-premium/inventario-grande-almacene-accion-mercancias-fondo-logistico-bandera-envio_43300-349.jpg");
            background-size: cover; 
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1>Informe de Stock</h1>
    <h2>Stock Total</h2>
    <p>Total: {{ stock_total }}</p>

    <h2>Stock por Categoría</h2>
    <ul>
        {% for categoria, stock in stock_por_categoria.items() %}
            <li>{{ categoria }}: {{ stock }}</li>
        {% endfor %}
    </ul>

    <h2>Stock por Proveedor</h2>
    <ul>
        {% for proveedor, stock in stock_por_proveedor.items() %}
            <li>{{ proveedor }}: {{ stock }}</li>
        {% endfor %}
    </ul>

    <h2>Stock por Bodega</h2>
    <ul>
        {% for bodega, stock in stock_por_bodega.items() %}
            <li>{{ bodega }}: {{ stock }}</li>
        {% endfor %}
    </ul>

    <a href="/">Volver al inicio</a>
</body>
</html>
